body {
  color: #414141; /* dark grey */
  background-color: #EEEEEE; /* light grey */
}

h1 {
  font-size: 36px;
  font-family: monospace;
  text-align: center;
  padding: 0px;
  padding: 50px;
  border: 2px solid #5D6063;
  background-color: darkgrey;
  display: block;
  color: black;
}

h2 {
  font-family: monospace;
  color: black;
}

p {
  font-size: 14px;
  font-family: monospace;
}

ul {

}

ol {
  list-style-type: decimal;
}

a {
  text-decoration: none;
}

div {
  color: #FFF;
  background-color: #5995DA;
  font-weight: bold;
  padding: 20px;
  text-align: center;
  border: 2px solid #5D6063;
  border-radius: 5px;

  width: 200px;
  box-sizing: border-box;
  margin: 20px auto; /* Vertical  Horizontal */
}

.button {
  color: black;
  background-color: darkgrey;
  font-family: monospace;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  border: 2px solid #5D6063;
  border-radius: 2px;

  width: 200px;
  margin: 100px auto;
}
